<!doctype html>
<html>
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>Heart Disease Prediction</h1>
		<form action="#" method="POST">
			<p>Age: <input type="text" name="age" value="0" /></p>
			<p>Sex: <input type="text" name="sex" value="0" /></p>
			<p>Chest Pain: <input type="text" name="cp" value="0" /></p>
			<p>Resting Blood Pressure: <input type="text" name="trestbps" value="0" /></p>
			<p>Cholesterol: <input type="text" name="chol" value="0" /></p>
			<p>Fasting Blood Sugar: <input type="text" name="fbs" value="0" /></p>
			<p>Resting ECG: <input type="text" name="restecg" value="0" /></p>
			<p>Maximum Heart Rate: <input type="text" name="thalach" value="0" /></p>
			<p>Exercise Induced Angina: <input type="text" name="exang" value="0" /></p>
			<p>ST Depression: <input type="text" name="oldpeak" value="0" /></p>
			<p>Slope ST Segment: <input type="text" name="slope" value="0" /></p>
			<p>Number of Major Vessels: <input type="text" name="ca" value="0" /></p>
			<p>Thallium Testing: <input type="text" name="thal" value="0" /></p>

			<p><input type="submit" value="predict" /></p>
		</form>
	</body>
</html>