<!doctype html>
<html>
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>Heart Sound Prediction</h1>
		<div class="container">
			<form method="POST" role="form" class="form-horizontal" enctype=multipart/form-data>
				<div class="form-group">
					<label for="UploadFile">Upload Audio(.wav) File: </label>
					<input type="file" class="form-control-file" id="UploadFile" name="file">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>